
.rating-form {
  margin: 50px 100px; 
  border-radius: 10px; 
  padding: 16px; 
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1); 
  min-height: 200px;
  height: max-content;
  border: 2px solid var(--main-color2); 

}
.name-product p{
  padding: 10px;
  font-size: 14px;
  color: var(--main-color2);
}
.name-product h3{
  padding: 40px 40px 0 40px;
  font-size: 26px;
  color: var(--main-color2);
}
.rating-average{
  display: flex;
  padding-left: 40px;
  padding-bottom: 20px;
}

.rating-average p{
  margin: 0;
}

.product-rating-box{
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 13px;
  border: 1px solid #a7a9ac;
  border-radius: 13px;
  width: 100%;
  align-items: center;
  flex-direction: row;


}

.button-yin {
  background: #be2f2f;
  border-radius: 13px;
  width: 130px;
  height: 50px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  padding: 2px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 12px;
}
.button-yin:active {
  background-color: hsla(0, 77%, 36%, 0.8); 
  transform: scale(0.95);
}
.button-yin:hover{
  background-color: rgb(147, 22, 22);
}

 textarea{
  background: var(--bg-color);
  border-radius: 13px;
  padding: 10px 12px;
  outline: none;
  flex-basis: 100%;
  border: 1px solid var(--bg-color);
  color: #555;
  font-size: 13px;
  text-align: justify;
  min-width: 250px;
  min-height: 100px;
  width: 50vw;
  resize: vertical;  
 }
 
 .rating-content .item-comment {
  display: flex;
  margin-bottom: -55px;
  padding: 30px;
}
.info-comment {
  padding-left: 12px;
  padding-bottom: 40px;
  display:grid;
}
.avt-yin{
  min-width: 50px;
  width: 50px;
  border-radius: 100%;
}
.user-name{
  /* padding-bottom: 10px; */
}
.review-item{
  padding-top: 10px;
}
.pagination button {
  background-color: var(--color3);
  color: rgb(0, 0, 0);
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 7px;
}
.pagination button:hover {
  background-color: #cac2c2;
}
.pagination button.active {
  background-color: #787373;
  color: white;
  
}
.p-comment{
  font-size: 18px;
  padding: 10px;
}