.item1 {
    background-color: #fff;
    position: relative;
    height: 100px;
    width: 330px;
    margin-bottom: 2px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    padding: 10px;

}



.item1 .item-info a {
    color: #444;
    display: flex;
    margin: 15px;
}

.item1 .item-info a .item-image {
    text-align: center;
    padding: 5px;
}

.item1 .item-info a .item-image img {
    min-width: 40px;
    height: 40px;
}

.item1 .item-info a .item-name {
    margin-bottom: 0px;
}

.item1 .item-info .item-name h3 {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 12px;
    font-weight: 600;
    height: 100px;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.item1 .box-price {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 10px;
    height: 40px;
}

.item1 .item-info a .box-price {
    display: flex;
    color: #444;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

.item1.box-price .item-price-new {
    color: #d70018;
    display: inline-block;
    font-weight: 700;
    line-height: 1.1;
}



.item1.box-price .item-price-old {
    color: #707070;
    display: inline-block;
    font-weight: 600;
    position: relative;
    top: 2px;
    text-decoration: line-through;
}

.item1 .item-info a .box-price .item-price-old {
    font-size: 12px;
}
.item1 .item-info a .box-price .item-price-new {
    font-size: 14px;
    text-align: center;
}

@media only screen and (max-width: 1199px) {
    .item1{
        width: 280px;
    }
  }
  