.item {
    background-color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    position: relative;
    height: auto;
    width: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    gap: 10px;
}

.product-list-swiper .swiper-container .swiper-wrapper .swiper-slide .item {
    background-color: #ffffff;
    border: 0;
    box-shadow: none;
    height: 99%;
    margin: auto;
    min-height: 250px;
}

.item .item-info a {
    color: #444;
}

.item .item-info a .item-image {
    text-align: center;
}

.item .item-info a .item-image img {
    margin: 10px 0 0 0;
    width: 160px;
    height: 160px;
}

.item .item-info a .item-name {
    margin-bottom: 5px;
}

.item .item-info a .item-name h3 {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 18px;
    font-weight: 600;
    height: 65px;
    overflow: hidden;
    position: relative;
    z-index: 10;
}


.item-price-percent{
    display: flex;
  

}


.item .box-price {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
}

.item .item-info a .box-price {
    display: flex;
    align-items: flex-end;
    color: #444;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 1.4;
}

.box-price .item-price-new {
    color: var(--color7);
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
}

.item .item-info a .box-price .item-price-new {
    font-size: 16px;
}

.box-price .item-price-old {
    color: #444;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    top: 2px;
    text-decoration: line-through;
}

.item .item-info a .box-price .item-price-old {
    font-size: 14px;
}

.box-price .item-price-percent {
    background-color: #d70018;
    border-radius: 3px;
    height: 26px;
    width: 80px;
    margin: 0 0 10px 10px;
}

.item .item-info a .box-price .item-price-percent {
    background: url(../Assets/pricetag3.png) 50% no-repeat;
    height: 40px;
    width: 163px;
    position: absolute;
    top: 3px;
    left: -52px;
    background-size: 53%;
}

.box-price .item-price-percent p {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    margin: 5px 0 0;
    text-align: center;
    width: 100%;
}

.item .item-info a .box-price .item-price-percent-detail {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    margin: auto;
    text-align: center;
    width: 100%;
}
.item .item-info a .box-price .cover-item {
    color: white;
    background: var(--main-color1);
    padding: 3px;
    border-radius: 6px;
    font-size: 11px;
    font-weight: 600;
    width: 80px;
    top: 0;
    right: -155px;

}

.cover-item{
    color: white;
    background: var(--main-color1);
    padding: 3px;
    border-radius: 6px;
    font-size: 11px;
    font-weight: 600;
    position: absolute;
    width: 80px;
    top: 0;
}

.item .item-info a .item-promotions {
    margin-bottom: 10px;
}

.item .item-info a .item-promotions .promotion {
    align-items: flex-start;
    background-color: var(--color4);
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    display: flex;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 0;
    overflow: hidden;
    padding: 5px;
    text-transform: none;
    width: auto;
    background-color: #dfecf5;
}


.item .item-info a .item-promotions .promotion .coupon-price {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.coupon-price {
    font-size: 14px !important;
   
}

.item .bottom-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item .bottom-div .item-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item .bottom-div .item-rating .icon-star {
    display: inline;
}

.item .bottom-div .item-rating .icon-star svg {
    color: #ea991f;
    height: 15px;
}

.item-image img {
    transition: transform 0.3s ease;
  }
  

.item:hover .item-image img {
    transform: scale(1.1); /* Phóng to hình ảnh khi hover */
  }