.breadcrumbs {
    position: fixed;
    top: 78px;
    left: 0;
    background: rgb(227, 227, 227);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .1), 0 2px 6px 2px rgba(60, 64, 67, .15);
    display: flex;
    align-items: center;
    height: 30px;
    overflow-x: auto;
    width: 100%;
    z-index: 1000;
}

.breadcrumbs-container {
    box-sizing: border-box;
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 1470px;
}

.breadcrumbs .breadcrumbs-blocks {
    display: flex;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0 10px;
    width: 100%;
}

.breadcrumbs .breadcrumbs-blocks .breadcrumbs-block {
    display: flex;
    align-items: center;
    margin-right: 7px;
    width: auto;
    margin: 0;
    padding: 0;
}

.breadcrumbs .breadcrumbs-blocks .breadcrumbs-block svg {
    color: var(--main-color1);
    margin-right: 10px;
    height: 10px;
}

.home-icon {
    color: var(--main-color1) !important;
}

.breadcrumbs .breadcrumbs-blocks .breadcrumbs-block p, .breadcrumbs .breadcrumbs-blocks .breadcrumbs-block a{
    color: #707070;
    font-size: 12px;
    margin-bottom: 0;
    margin-right: 10px;
    text-decoration: none;
    white-space: nowrap;
}

@media (max-width: 1200px) {
    .breadcrumbs-container {
        max-width: 1200px !important;
        padding: 0 10px;
        width: 100% !important;
    }
}