
.search {
  position: relative;
  display: flex;

}

.search .form-y {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
}

.search .input-y {
  outline: none;
  height: 32px;

}

.search .button-y{
  color: #fff;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  outline: none;
  background: hsla(0, 0%, 100%, .2);
  border-radius: 2px;
  padding: 0px;
  font-size: 22px;
}

.search .input-btn .button-y:hover {
  /* background-color: #d70018 */
}

/* .search-results {
  background-color: #fff;
  max-height: 500px;
  overflow-y: auto;
} */

.search .input-btn  .button-y{
  background-color: #d70018
}

.overlay {
  position: fixed;
  top: 80px; /* Đặt overlay bắt đầu ngay dưới header */
  left: 0;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  height: calc(100% - 80px); /* Chiều cao trừ đi chiều cao của header */
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền mờ */
  z-index: 999; /* Đảm bảo overlay nằm dưới header */
}

.search-results {
  position: absolute;
  z-index: 1000; /* Đảm bảo kết quả tìm kiếm nằm trên overlay */
  background: white;
  border-radius: 4px;
  max-height: 500px;
  overflow-y: auto;
  margin-left: -11.5vw;
  margin-top: 2vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ant-spin-dot-holder{
  margin: 150px;
}