
.search {
  position: relative;
  display: flex;

}

.search .form-y {
  display: flex;
  align-items: center;
}

.search .input-y {
  outline: none;
  height: 32px;

}

.search .button-y{
  color: #fff;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  outline: none;
  background: hsla(0, 0%, 100%, .2);
  border-radius: 2px;
  padding: 0px;
  font-size: 22px;
}

.search .input-btn .button-y:hover {
  /* background-color: #d70018 */
  
}
.search-results {
  max-height: 500px; /* Set the maximum height for the search results container */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

.search .input-btn  .button-y{
  background-color: #d70018
}